* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 10px;
  font-family: "Darker Grotesque", sans-serif;
}
a {
  text-decoration: none;
  color: #c5c6c7;
}

a:visited {
  color: #66fcf1;
}

a:hover {
  color: #c3073f;
}

a:visited {
  color: #66fcf1;
}

#wrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-auto-columns: minmax(100px, auto);
  grid-template-rows: auto;
  grid-auto-flow: column;
  grid-auto-flow: row;
  grid-template-areas:
    "sidebar main main main main"
    "sidebar main main main main"
    "sidebar footer footer footer footer";
}

.sidebar {
  grid-area: sidebar;
  background-color: #fff;
}

.main-content {
  grid-area: main;
  background: linear-gradient(326deg, #950740 0%, rgba(111, 34, 50, 0.8) 74%),
    url("../img/red_background_strokes.jpg") center no-repeat;
  background-size: cover;
  position: relative;
}

.main-content-cta {
  position: absolute;
  top: 55;
  right: 10%;
  transform: translateY(-55%);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.main-content-cta h1 {
  font-size: 5rem;
}
.main-content-cta h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.main-content-about {
  margin-top: 120px;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c5c6c7;
  width: auto;
  flex-flow: wrap;
}

img {
  width: auto;
}

.connect-icons {
  font-size: 3rem;
  align-items: center;
}

.btn-group {
  display: flex;
  margin-bottom: 2rem;
  justify-content: center;
}

.btn {
  color: #fff;
  padding: 1.5rem 5rem;
  border: 2px solid rgba(255, 255, 255, 0.6);
}
.btn:first-child {
  margin-right: 1rem;
}

.btn-group a:hover{
  color: #c3073f  
}

.main-content-cta .date{
  color: #7401141e;
  font-size: 2rem;
}

.main-content-cta .date:hover{
  color: #66fcf1;
  font-size: 10px;
  transition: .5s;
}

.footer {
  grid-area: footer;
  background-image: linear-gradient(315deg, #66fcf1 0%, #45a29e 75%);
  height: 100%;
  display: flex;
  align-items: center;
}

nav {
  text-align: center;
}

.brand {
  background-color: white;
  padding: 2.5rem 0;
}

.brand > .nav-link {
  font-size: 2rem;
  color: #4e4e50;
}
.nav-list {
  list-style: none;
  color: white;
  font-size: 1.6rem;
  text-transform: uppercase;
}
.nav-item {
  margin: 5rem 0;
}
.nav-link {
  font-size: 1.6rem;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem;
}

.panc-notice {
  height: inherit;
  width: 100%;
  max-width: 40rem;
  background-color: white;
  display: flex;
}
.panc-notice h1 {
  margin: auto;
  text-transform: uppercase;
  position: relative;
}
.panc-notice h1::before {
  content: "";
  position: relative;
  display: flex;
  left: 0;
  bottom: -2.2rem;
  width: 100%;
  height: 3px;
  background-image: linear-gradient(315deg, #4e4e50 0%, #4e4e50 75%);
}

.statistics {
  width: 100%;
  display: flex;
  /* justify-content: space-between;
          padding: 0 5rem; */
}

.statistics .item {
  width: 100%;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
}

.statistics .item i {
  font-size: 8rem;
  padding: 0 3rem;
}

.item-desc p {
  font-size: 1.4rem;
  color: black;
}

.item-desc h1 {
  color: black;
}
